@import "bourbon/bourbon";
$heading-text:#26272d;
$main-text:#8c8f94;
$blue-color:#267df4;
$green-color:#6fc754;
$m-size:40px;
body {
    font-family: "Lato_Regular";
    font-size: 18px;
    color: $main-text;
    line-height: 28px;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
h1 {
    font-family: "VarelaRound", sans-serif;
    font-size: 62px;
    line-height: 72px;
    color: $heading-text;
}
h2 {
    font-family: "Lato_Regular", sans-serif;
    font-size: 42px;
    line-height: 52px;
    color: $heading-text;
}
h3 {
    font-family: "Lato_Light", sans-serif;
    font-size: 26px;
    color: $heading-text;
    line-height: 34px;
}
.btn {
    background-color: $blue-color;
    border: 1px solid $blue-color;
    outline: none;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    transition: .3s ease-out;
    height: 40px;
    &.white {
        background-color: #fff;
        color: $heading-text;
        border-color: #d9dcde;

        &:hover {
            background-color: $blue-color;
            color: #fff;
        }
    }
    &.grey {
        background-color: #131315;
        color: #fff;
        border-color: #131315;
    }
    &.green {
        background-color: $green-color;
        color: #fff;
        border-color: $green-color;
        padding: 5px 25px;
    }
}

/***********************************HEADER********************************************************************************/

header {
    min-height: 1000px;
    text-align: center;
    background-image: url(../img/banner_background.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/*PUSHY*****************************************************/

nav {
    padding: 40px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        margin-top: 50px;
    }
    li {
        display: block;
    }
    button {
        display: block;
        margin-top: 50px;
        padding: 5px 20px;
        height: 40px;

    }
    .pushy.pushy-left {
        width: 400px;
    }
    span {
        display: block;
        text-align: left;
        margin-top: 20px;
        strong {
            color: $blue-color;
        }
    }
}
.nav-heading {
    margin-top: 50px;
    img {
        float: left;
        display: inline-block;
    }
    i {
        float: right;
        display: inline-block;
        margin-top: -12px;
        font-size: 25px;
        cursor: pointer;
    }
}
.nav-footer {
    margin-top: 10px;
    ul {
        text-align: left;
        li {
            display: inline-block;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            font-size: 20px;
            transition: .3s ease-out;
            &:hover,
            &:active {
                color: $blue-color;
            }
        }
    }
}
.pushy a {
    font-size: 16px;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    text-decoration: none;
    transition: .3s ease-out;
    &:hover,
    &:active {
        color: $blue-color;
    }
}
.pushy ul:first-child {
    margin: 0;
}

/****************************************************************/

.top-margin {
    margin-bottom: 30px;
}
.top-line {
    min-height: 100px;
    padding-top: 30px;
    z-index: 100;
    ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    a {
        font-size: 16px;
        text-align: center;
        color: $heading-text;
        text-transform: capitalize;
        padding: 5px 20px;
        text-decoration: none;
        transition: .3s ease-out;
        &:hover,
        &:active {
            color: $blue-color;
        }
    }
    li {
        display: inline-block;
    }
}
.top-left {
    line-height: 32px;
    i {
        font-size: 27px;
        vertical-align: middle;
        color: $heading-text;
        cursor: pointer;
    }
}
.top-right {
    i {
        display: inline-block;
        margin-top: 0px;
        margin-right: 10px;
    }
}
.header-text {
    h1 {
        margin-top: 80px;
    }
    p {
        font-size: 20px;
        margin: $m-size 0 $m-size+20 0;
    }
    img {
        position: absolute;
        bottom: -780px;
        left: 50%;
        margin-left: -185px;
    }

}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.shadow {
    -webkit-box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
    box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
}

/***************************************************************************************************************************/


/***********************************FEATURES********************************************************************************/

.features {
    min-height: 560px;
    padding: 120px 0;
    border-bottom: 1px solid #f4f4f4;
}
.feat-items {
    i {
        font-size: 48px;
        line-height: 50px;
        margin-left: -15px;
        color: $blue-color;
    }
    h3 {
        margin: $m-size 0 $m-size 0;
    }
}
.feat-right {
    padding-left: 40px;
    i {
        font-size: 12px;
        margin-left: -3px;
    }
}
.feat-left {
    padding-top: 10px;
    h3 {
        margin-top: -30px;
    }
}

/********************************************************************************************************************************/


/*********************************************IPHONE_Feature**********************************************************************/

.iphone-feature {
    min-height: 800px;
    padding: 130px 0 40px 0;
}
.iphone {
    float: left;
    margin-left: -300px;
    img {
        width: 100%;
    }
}
.feature-text {
    padding-top: 130px;
    h2 {
        margin: 0 0 70px 0;
    }
    p {
        margin-top: 0;
    }
    button {
        height: 40px;
        transition: .3s ease-out;
        margin-right: 20px;
        i {
            margin-left: 50px;
        }
        &:active,
        &:hover {
            background-color: #fff;
            color: $blue-color;
        }
    }
}




/******************************************MAP************************************************************************************/

.map {
    min-height: 500px;
    padding-bottom: 200px;
}
.map-img {
    float: right;
    margin-right: -350px;
    img {
        width: 100%;
    }
}
.map-text {
    ul {
        margin-top: 0;
        padding-left: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 30px;
        }
    }
    span {
        font-family: "Lato_Bold_Italic";
        font-size: 12px;
        line-height: 22px;
        color: $heading-text;
        text-transform: uppercase;
        margin: 50px 0 30px 0;
        display: block;
    }
}
.screens {
    min-height: 760px;
    background-color: #f5f5f8;
    text-align: center;
    padding: 140px 0;
    h2 {
        margin: 0 0 50px 0;
    }
    span {
        font-family: "Lato_Bold_Italic", sans-serif;
        font-style: normal;
        text-transform: uppercase;
    }
}
.main-pic{
    width: 240px;
    height: 500px;
}
.blue-line {
    width: 50px;
    height: 2px;
    background-color: $blue-color;
    margin: auto;
    margin-bottom: 40px;
}

/*******************************************FLEX***********************************************/

.flex-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin: 40px 0 190px 0;
}
.flex-items {
    margin-right: 1%;
    flex-shrink: 2;
    img {
        width: 220px;
        height: 468px;
        flex-grow: 1;
        box-shadow: 10px 15px 16px rgba(61, 61, 62, 0.15);
    }
    &:nth-child(1) {
        margin-left: -5%;
    }
    &:nth-child(5) {
        margin-right: -5%;
    }
    &:nth-child(3) {
        flex-grow: 2;
        margin-top: 30px;
        img {
            width: 320px;
            box-shadow: none;
            height: 668px;
            margin-bottom: -110px;
        }
    }
}

/**************************************SLIDER*************************************************************/

.slider {
    min-height: 750px;
}
.carousel-item {
    text-align: center;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
        }
        i {
            color: #f2bc3b;
        }
    }
    span {
        font-size: 30px;
        font-weight: bold;
        color: $heading-text;
        display: block;
        margin-top: 40px;
    }
}
.slider-img {
    width: 125px;
    height: 125px;
    margin: 130px auto 80px auto;
    img {
        border-radius: 50%;
        box-shadow: 20px 20px 40px rgba(92, 95, 101, .28);
    }
}
.owl-nav {
    div {
        display: block;
        width: 25px;
        height: 40px;
        background-image: url(../img/arrows.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 220px;
        &.owl-next {
            background-position: top right;
            right: 0;
            background-repeat: no-repeat;
        }
    }
}

/*******************************************FOOTER**************************************************************/
footer{
    min-height: 100px;
    border-top:  1px solid #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-left{
    text-align: left;
        padding-top: 20px;
    a{
        color:$blue-color;
        margin-left: 10px;
    }
    span{
        color: $heading-text;
        display: inline-block;
    }
}
.footer-right{
    text-align: right;
    padding-top: 20px;
    p{
        margin: 0;
        color: $heading-text;
        display: inline-block;

    }
    span{
            color:$blue-color;
            margin-left: 10px;
            cursor: pointer;
        }
}
.footer-logo{
    text-align: center;
    img{
        height: 80px;
        width: 80px;
        margin-top: -10px;

    }
}
